@import 'nib'

@font-face
    font-style: normal
    font-weight: normal
    font-family: 'Geosans Light'
    src: url('/fonts/geosanslight.ttf') format('truetype')

body
    background: #404040
    margin: 0px
    padding: 0px

.transparent
    color: transparent

#clocks
    position: fixed
    bottom: 150px
    right: 150px

    width: 380px
    height: 100px

    font-family: 'Geosans Light'

    line-height: 100px
    font-size: 96px

    color: white
    
    & .time
        position: absolute
        top: 0
        left: 0

        display: block
        border: 10px solid #404040
    
    & .separator
        color: #ababab
        margin: 0px 2px
        display: inline-block
        line-height: inherit
        height: inherit
    
    & .seconds
        font-size: 46px
        position: relative
        bottom: -1px

    & .noseconds
        width: 270px !important

#timebars
    position: fixed
    top: 150px
    
    left: 150px
    right: 150px

    & span
        display: block
        background: #ababab
        height: 6px
        margin: 3px 0px

        border-radius: 3px

#knobs
    position: fixed
    bottom: 0
    top: 250px
    left: 150px
    text-align: center

    & .knob
        display: none
        width: 300px
        height: 300px

    & > div
        color: #ababab
        display: inline-block

@keyframes fadeout
    from
        opacity 1.0
    to
        opacity 0.0

@keyframes fadein
    from
        opacity 0.0
    to
        opacity 1.0

.fadeout
    opacity: 0.0
    animation-name: fadeout
    animation-duration: 0.8s
    animation-timing-function: linear

.fadein
    opacity: 1.0
    animation-name: fadein
    animation-duration: 0.0s
    animation-timing-function: linear
