@font-face
    font-style: normal
    font-weight: normal
    font-family: 'Traveling Typewriter'
    src: url('/fonts/tt.ttf') format('truetype')

body
	background: #ababab

#typewriting
    left: 5%
    right: 5%
    bottom: 20%
    position: fixed
    
    font-size: 48pt
    font-family: 'Traveling Typewriter'

    word-wrap: break-word
    word-break: break-all
    line-height: 52pt
