extends ../layout

block extrahead
    title Dyslexic Typewriter

block extracss
    != css('typewriting')

block extrajs
    != js('keyboard_map')
    != js('typewriting')

block content
    #typewriting
